.Navbar{
    background-color: #1976d2;
    height:80px;
    display: flex;
    align-items: center;
    padding:5px 10px;
}

.Navbar .search{
    height: 2.2rem;
    border-radius: 10px;
    background-color: aliceblue;
    color: black;
    font-size: 1.1rem;
}
