.bodyContainer{
    margin: 3vw;
   display: flex;
   flex-direction: row;
   
}

.category{
    background-color: #31363F;
    min-width: 270px !important;
    margin-right: 5px;
    height: fit-content;
}

.category li{
    list-style-type: none;

}
.category ul{
    padding: 0;
    margin: 0;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: flex-start;
}

.card{
   margin: 2rem 1rem;
   background-color: #31363F;
   width: 250px;
   height: fit-content;
   border-radius: 10px;
   padding: 1rem;
}
.card img{
    width: 250px;
    border-radius: 10px;
}
.card .info{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    }
.card .detail{
    text-align: left;
   margin-bottom: 10px;
}
.card p{
    margin: 0px;
    padding: 0px;
}

