.profile{
  display: flex; 
  margin: 5vw 10vw; 
}
.profile .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.profile .link{
    border: none;
    box-shadow: none;
    border: 1.5px solid white;
    background:transparent;
    border-radius: 10px;
    height: 2.4rem;
    width: 15rem;
    font-size: 1.2rem;
   margin: 0.5rem;
}
.profile .link:hover{
    background-color:  #1976d2;
    border-color: #1976d2;
}
.profile .link:active{
    background-color:  #0562bf;
}

.profile img{
    border-radius: 10px;
    margin-bottom: 1rem;
}

.profile .details{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 3rem;
}

.relatedCourse{
    margin: 5vw 10vw;
    text-align: left;
}

.certificate{
    margin: 5vw 10vw;
    text-align: left;
}




