.signup{
    display: flex;
    margin: 5vw 10vw;
    justify-content: space-evenly;
}

.signup img{
    border-radius: 10px;
    height: 400px;

}
.signup-form{
    display: flex;
    flex-direction: column;
}
.signup-form .inputtext{
    margin-bottom: 1rem;
}